.about {
  background-color: #f3f3f9;

  padding: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.title {
  margin: 20px 0;
  color: #e8667e;
  font-size: 37px;
  line-height: 42px;
  font-weight: 200;
}
